policy_module(iqcash, 1.100.1)

########################################
#
# Declarations
#

type iqcash_t;
type iqcash_exec_t;
init_daemon_domain(iqcash_t, iqcash_exec_t)

permissive iqcash_t;

type iqcash_initrc_exec_t;
init_script_file(iqcash_initrc_exec_t)

type iqcash_conf_t;
files_type(iqcash_conf_t)

type iqcash_var_lib_t;
files_type(iqcash_var_lib_t)

type iqcash_var_run_t;
files_type(iqcash_var_run_t)

type iqcash_port_t;
corenet_port(iqcash_port_t)

########################################
#
# iqcash local policy
#
allow iqcash_t self:process { fork };

allow iqcash_t self:fifo_file rw_fifo_file_perms;
allow iqcash_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(iqcash_t, iqcash_conf_t, iqcash_conf_t)
manage_files_pattern(iqcash_t, iqcash_conf_t, iqcash_conf_t)

manage_dirs_pattern(iqcash_t, iqcash_var_lib_t, iqcash_var_lib_t)
manage_files_pattern(iqcash_t, iqcash_var_lib_t, iqcash_var_lib_t)
files_var_lib_filetrans(iqcash_t, iqcash_var_lib_t, { dir file })

manage_dirs_pattern(iqcash_t, iqcash_var_run_t, iqcash_var_run_t)
manage_files_pattern(iqcash_t, iqcash_var_run_t, iqcash_var_run_t)

sysnet_dns_name_resolve(iqcash_t)
corenet_all_recvfrom_unlabeled(iqcash_t)

allow iqcash_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(iqcash_t)
corenet_tcp_sendrecv_generic_node(iqcash_t)
corenet_tcp_sendrecv_all_ports(iqcash_t)
corenet_tcp_bind_generic_node(iqcash_t)

gen_require(`
    type iqcash_port_t;
')
allow iqcash_t iqcash_port_t:tcp_socket name_bind;

gen_require(`
    type iqcash_port_t;
')
allow iqcash_t iqcash_port_t:tcp_socket name_connect;

domain_use_interactive_fds(iqcash_t)

files_read_etc_files(iqcash_t)

miscfiles_read_localization(iqcash_t)

sysnet_dns_name_resolve(iqcash_t)

allow iqcash_t iqcash_exec_t:file execute_no_trans;
allow iqcash_t self:process setsched;
corecmd_exec_ls(iqcash_t)
corenet_tcp_connect_http_port(iqcash_t)
dev_read_urand(iqcash_t)
fs_getattr_xattr_fs(iqcash_t)
kernel_read_system_state(iqcash_t)
