
## <summary>policy for iqcash</summary>


########################################
## <summary>
##	Transition to iqcash.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`iqcash_domtrans',`
	gen_require(`
		type iqcash_t, iqcash_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, iqcash_exec_t, iqcash_t)
')


########################################
## <summary>
##	Execute iqcash server in the iqcash domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iqcash_initrc_domtrans',`
	gen_require(`
		type iqcash_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, iqcash_initrc_exec_t)
')


########################################
## <summary>
##	Search iqcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iqcash_search_lib',`
	gen_require(`
		type iqcash_var_lib_t;
	')

	allow $1 iqcash_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read iqcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iqcash_read_lib_files',`
	gen_require(`
		type iqcash_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, iqcash_var_lib_t, iqcash_var_lib_t)
')

########################################
## <summary>
##	Manage iqcash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iqcash_manage_lib_files',`
	gen_require(`
		type iqcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, iqcash_var_lib_t, iqcash_var_lib_t)
')

########################################
## <summary>
##	Manage iqcash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iqcash_manage_lib_dirs',`
	gen_require(`
		type iqcash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, iqcash_var_lib_t, iqcash_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a iqcash environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`iqcash_admin',`
	gen_require(`
		type iqcash_t;
		type iqcash_initrc_exec_t;
		type iqcash_var_lib_t;
	')

	allow $1 iqcash_t:process { ptrace signal_perms };
	ps_process_pattern($1, iqcash_t)

	iqcash_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 iqcash_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, iqcash_var_lib_t)

')

